@model ChangePasswordViewModel

<h2>Change Password</h2>

<form method="post" asp-action="ChangePassword">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Username:</label>
        <div class="col-md-4">
            <input asp-for="Username" class="form-control" readonly placeholder="@Model.Username"/>
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-form-label col-md-2">Old Password:</label>
        <div class="col-md-4">
            <input asp-for="OldPassword" type="password" class="form-control" />
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-form-label col-md-2">New Password:</label>
        <div class="col-md-4">
            <input asp-for="NewPassword" type="password" class="form-control" />
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-form-label col-md-2">Confirm New Password:</label>
        <div class="col-md-4">
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn btn-primary">Change Password</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</form>
